@import '../../custom';

.footer-wrapper{
    padding: 40px 40px 20px;
    text-align: center;
    border-radius: 0 80px 0 0;
    background-color: $footer-bgc;
    .logo{
        margin: 0 auto;
    }
    .navigation{
        .title{
            margin: 40px 0 20px;
            display: block;
            flex-basis: 100%;
            color: #fff;
        }
        ul{
            li{
                a{
                    transition: .5s;
                    &:hover{
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }
    .attribution { 
        margin: 30px auto 0;
        font-size: 11px; 
        color: #fff;
        a{
            color: hsl(228, 45%, 44%);
        }
     }
}

@media screen and (min-width:769px){
    .footer-wrapper{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        .navigation{
            .title{
                margin: 10px 0 0;
            }
        }
        
    }
}