<div class="footer-wrapper">
  <img class="logo" src="../../assets/images/logo.svg" alt="Blogr logo">
  <nav class="navigation">
    <span class="title">
      Product
    </span>
    <ul>
      <li>
        <a href="">
          Overview
        </a>
      </li>
      <li>
        <a href="">
          Pricing
        </a>
      </li>
      <li>
        <a href="">
          Marketplace
        </a>
      </li>
      <li>
        <a href="">
          Features
        </a>
      </li>
      <li>
        <a href="">
          Integrations
        </a>
      </li>
    </ul>
  </nav>
  <nav class="navigation">
    <span class="title">
      Company
    </span>
    <ul>
      <li>
        <a href="">
          About
        </a>
      </li>
      <li>
        <a href="">
          Team
        </a>
      </li>
      <li>
        <a href="">
          Blog
        </a>
      </li>
      <li>
        <a href="">
          Careers
        </a>
      </li>
    </ul>
  </nav>
  <nav class="navigation">
    <span class="title">
      Connect
    </span>
    <ul>
      <li>
        <a href="">
          Contact
        </a>
      </li>
      <li>
        <a href="">
          Newsletter
        </a>
      </li>
      <li>
        <a href="">
          LinkedIn
        </a>
      </li>
    </ul>
  </nav>
  <div class="attribution grid-span-col-4">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="https://github.com/szczepanieceryk">Eryk Szczepaniec</a>.
  </div>
</div>
