@import '../../custom';

.nav-header-wrapper{
    padding: 30px 20px;
    position: relative;
    background-image: url(../../assets/images/bg-pattern-intro-mobile.svg);
    background-position: center;
    background-color: $light-red;
    border-radius: 0 0 0 70px;
    .hamburger-icon,.close-icon{
        position: absolute;
        top: 40px;
        right: 20px;
        &:hover{
            cursor: pointer;
        }
    }
    .close-icon{
        display: none;
    }
    .close-icon.active{
        display: block;
    }
    .hamburger-icon.active{
        display: none;
    }
    .navigation{
        padding: 20px;
        position: fixed;
        width: 90%;
        border-radius: 8px;
        text-align: center;
        display: none;
        background-color: #fff;
        ul{
            li{
                a{
                    color: $state-sect-bgc;
                }
            }
            hr{
                color: rgba(243, 241, 241,.5);
            }
            .nav-btn{
                .btn.start.nav{
                    color: #fff;
                    background: linear-gradient($very-light-red,$light-red);
                }
                .login {
                    display: block;
                    margin: 0 auto;
                    color: $state-sect-bgc;
                }
            }
           
        }
    }
    .navigation.active{
        display: block;
    }
    
    .header{
        margin: 50px auto;
        text-align: center;
        .content{
            inset: 0;
            margin: auto;
            color: #fff;
            .title{
                padding: 0 80px;
                color: #fff;
            }
            .text{
                margin-top: 10px;
                display: block;
                color: $footer-txt;
            }
            .btn{
                margin: 40px 10px;
            }
            .btn.lern{
                border: 1px solid #ddd;
                color: #fff;
                transition: .5s;
               &:hover{
                   cursor: pointer;
                   color:$light-red;
                   background-color: #fff;
               }
            }
        }
       
    }
}

@media screen and(min-width:1025px){
    .nav-header-wrapper{
        display: grid;
        grid-template-columns:auto 1fr 1fr;
        grid-template-areas: 
        "logo navigation navigation"
        "header header header";
        background-image: url(../../assets/images/bg-pattern-intro-desktop.svg);

        .hamburger-icon,.close-icon{
            display: none;
        }
        .logo{
            margin: 0 5rem;
            grid-area: logo;
        }
        .navigation{
            padding: 0;
            position: relative;
            display: flex;
            justify-content: flex-start;
            background-color: transparent;
            grid-area: navigation;
         
            ul{
                display: flex;
                li{
                    a{
                        margin:2em;
                        color: #fff;
                        &:hover{
                            border-bottom: 1px solid #fff;
                        }
                    }
                }
                .nav-btn{
                    align-items: center;
                    margin-left: 10em;
                    display: flex;
                    .btn.login {
                        margin: 10px 15px;
                        padding: 0;
                        color: #fff;
                        &:hover{
                            cursor: pointer;
                        }
                     }
                     .btn.start.nav{
                         width: 100px;
                         height: 50px;
                        // padding: 1em;
                        &:hover{
                        color: $light-red;
                        background: #fff;
                        }
                    }
                }
                }
                hr{
                display: none;
                } 
        }
    }
    .header{
        grid-area: header;
    }
}
@media screen and(min-width:1201px){
    .nav-header-wrapper{
        .navigation{
            ul{
                .nav-btn{
                    margin-left: 20em;
                }
            }
        }
    }
}
@media screen and(min-width:1600px){
    .nav-header-wrapper{
        .logo{
            margin-left: 10rem;
        }
        .navigation{
            ul{
                .nav-btn{
                    margin-left: 30em;
                }
            }
        }
    }
}
@media screen and(min-width:1900px){
    .nav-header-wrapper{
        .navigation{
            ul{
                .nav-btn{
                    margin-left: 40em;
                }
            }
        }
    }
}