@import '../../custom';

.main-wrapper{
    margin: 100px auto;
    text-align: center;
    img{
        width: 100%;
        margin: auto;
    }
    .design{
        display: grid;
        grid-template-areas: 
        "main-title"
        "image"
        "content"
        "content";
        .editor-img{
            max-width: 500px;
        }
        .editor-img-desktop{
            display: none;
            max-width: 900px;
        }
    }
    .design,.open-source{
        padding: 0 20px;
        .title{
            margin-bottom: 30px;
        }
        .content{
            margin: 0 auto 40px;
            max-width: 410px;
        }
    }
    .state{
        margin: 300px auto 80px;
        padding: 180px 20px 100px;
        position: relative;
        background-image: url(../../assets/images/bg-pattern-circles.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 0 90px 0 80px;
        background-color: $state-sect-bgc;
        .phones-img{
            position: absolute;
            top: -240px;
            left: 0;
            max-height: 470px;
            max-width: 450px;
        }
        .title{
            margin: 20px auto 15px;
        }
        .title,.text{
            color: #fff;
        }
    }
    .open-source{
        display: grid;
        grid-template-areas: 
        "image"
        "content-title"
        "content-text";
        .laptop-img-desktop{
            display: none;
            max-width: 900px;
        }
    }
}

@media screen and(min-width:1025px){
    .main-wrapper{
        overflow: hidden;
        .design,.state,.open-source{
            text-align: left;
        }
        .design .main-title{
            margin-bottom: 40px;
            grid-area: main-title;
        } 
        .design .editor-img-desktop{
            grid-area: image;
        }
        .design .content .title{
            grid-area: content;
        }
        .design .content .text{
            grid-area: content;
        }
        .design{
            padding-left: 5rem;
            grid-template-areas: 
            "main-title main-title"
            "content image"
            "content image";
            .content{
                inset:0;
                margin:  0 auto 20px;
                padding-right: 5rem;
                max-width: 5000px;
                .title{
                    margin-bottom: 20px;
                }
            }
            .editor-img{
                display: none;
            }
            .editor-img-desktop{
                display: block;
                transform: translateX(120px);
            } 
            .main-title{
                text-align: center;
            }
        }
        .state{
            margin: 60px auto;
            padding: 80px 20px;

            .phones-img{
                top: -50px;
                left: 50px;
                max-width: 400px;
            }
            .content{
                margin-left: 500px;
                max-width: 700px;
            }
        }
        .open-source{
            padding-right: 5rem ;
            .open-source .laptop-img-desktop{
                grid-area: image;
            }
            .open-source .content{
                grid-area: content;
            }
            .design .content{
                grid-area: content
            }
            grid-template-areas: 
            "image content"
            "image content";
            .laptop-img{
                display: none;
            }
            .laptop-img-desktop{
                display: block;
                transform: translateX(-120px);
            }
            .content{
                inset: 0;
                margin: auto;
            }
        }
    }
}

@media screen and(min-width:1400px){
    .main-wrapper{
        .design,.open-source{
            .content{
                inset:0;
                margin: auto;
                max-width: 500px;
            }
        }
    }

}
