//custom scss variables
//fonts
$body-font: 'Overpass', Arial, Helvetica, sans-serif;
$font-size:16px;
//colors
$very-light-red:hsl(13, 100%, 72%,);
$light-red:hsl(353, 100%, 62%);
$btn-hover:hsl(355, 100%, 74%);
$text-color:hsl(207, 13%, 34%);
$headings-col:hsl(208, 49%, 24%);
$state-sect-bgc:hsl(237, 23%, 32%);
$footer-bgc:hsl(240, 10%, 16%);
$footer-txt:hsl(240, 2%, 79%);
